<div class="data-modal-main" style="height:100%;width:100%;position:fixed;top:0;bottom:0;background:rgba(0,0,0,.5);overflow-y:scroll">
  <div class="data-modal-container" style="background-color:white;opacity:1;margin:20 auto;width:90%">

    <div style="width:90%;margin:0 auto;padding-bottom:20px;padding-top:20px">
      <div class="data-modal-header" style="height:50px;padding-bottom:30px">
        <h2 class="left-header" style="float:left">data analysis</h2>
      </div>

      <div>
        <ul uk-tab id="data-zone-tabs">
        </ul>
      </div>

      <div class="data-analysis-container">
        <div class="zone-comp-selection">
          <h6>Zone Compare</h6>
          <select class="zone-drop-down1">
          </select>
          <select class="zone-drop-down2">
          </select>
          <select class="zone-drop-down-value">
          </select>
          <button class="zone-compare-btn">show</button>
          <button class="zone-hide-btn">hide</button>
        </div>
        <div class="zone-comp-analysis" style="margin-top:10px;background:whitesmoke;">
        </div>
        <div class="data-comp-selection">
          <h6>Point Compare</h6>
          <select class="data-drop-down1">
          </select>
          <select class="data-drop-down2">
          </select>
          <button class="data-compare-btn">show</button>
          <button class="data-hide-btn">hide</button>
        </div>
        <div class="comp-analysis" style="margin-top:10px;background:whitesmoke;">
        </div>
        <div class="data-analysis"
          style="display:flex;flex-direction:row;flex-wrap:wrap;">
        </div>
      </div>

    </div>
  </div>
</div>
